<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>my favorite</title>    
    </head>
    <body>
        <h1>my favorite(私の好きなもの）</h1>
        好きなものいろいろ。映画、占い、音楽、旅行、なんでも。
        
      <hr>

        <img src="images/1.jpg" width="300">

        <ul>
          <li><a href="https://www.youtube.com/watch?v=-L6iKhtezaE">『誰も知らない』予告編 </a></li>
      </ul>

        <img src="images/2.jpg" width="300">
      
        <ul>
          <li><a href="https://www.youtube.com/watch?v=chs0OVTeXP4">占い</a></li>
      </ul>
      
    </body>
  </html>
    </body>
</html>